{% extends "base.html" %}

{% block title %}Pricing{% endblock %}

{% block content %}
    <div class="container center">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Specs</th>
                <th>Starter</th>
                <th>Enterprise</th>
            </tr>
            <tr>
                <td>Space</td>
                <td>3GB</td>
                <td>5GB</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>150nrs/student</td>
                <td>150nrs/student</td>
            </tr>
        </table>
    </div>
{% endblock %}

